@media (max-width: 386px){
    $max-width: 345px;
    .wrapper{
      margin: 0;
      padding: 0;
      grid-template-areas:
              "nav"
              "main"
              "footer";
      grid-template-columns: auto;
      background: #F6F6C2;
    }
  
    .header{
      display: none;
    }
  
    .nav p {
       margin: initial;
       margin-left: -40px;
       margin-top: -10px;
    }
  
    .asideleft{
      display: none;
    }
  
    .maincontext {
      margin: 0 0 0 20px;
      padding: 0 0 0 0;
      border-bottom: 2px solid #303028;
      max-width: $max-width;
    }

    .maincontext .newListWork .hr {
      background: inherit;
      border-top: 2px solid #303028;
      border-bottom: none;
    }

   .maincontext .newListWork {
      margin: 0;
      padding: 0;
      grid-template-columns: auto;
    }

    .maincontext .newListWork h2 {
      margin: 0 0 0.5em 0;
      font-size: 155%;
      font-weight: bold;
      color: #303028;
    }

    .maincontext .newListWork div img {
      display: block;
    }

    .maincontext .newListWork .responseImg {
      width: 100%;
      height: auto;
    }


    .maincontext .newListWork .descWork {
      margin: 0;
      padding: 15px;
      font-size: 1em;
    }

    .maincontext .newListWork .descWork a {
      color: #F2F2BF;
      display: block;
      text-decoration: none;
      font-weight: bold;
      font-size: 100%;
    }

    .asideright{
      display: none;
    }
  
    .endpage {
      display: none;
    }
  }