@media (max-width: 321px) {
    $max-width: 280px;
    .footerMobile div p {
        display: none;
    }
    .footerlineMobile {
       margin: initial; 
       margin: 0 0 0 0px;
       padding: 0;
       height: 50px;
       max-width: $max-width;
    }
    .footerlineMobile div {
       text-align: center;
    }
    .footerlineMobile div span {
        font-size: 90%;
        color: grayscale($color: #999999);
    }
}