.footerMobile {
    margin: 0 5px 0 5px;
    border-top:  1px solid #280000;
    width: 300px;
}

.footerMobile div {
    padding: 10px 5px;
}

.footerMobile div p {
    font-size: 2vh;
    color: gray;
}


.footerlineMobile {
    display: none;
    width: 300px;
    font-size: 2vh;
    color: gray;
    padding: 0 10px 10em 10px;
}