@media (max-width: 429px) {
    $max-width: 375px;
    .footerMobile div p {
        display: none;
    }
    .footerlineMobile { 
       margin: 0 0 0 40px;
       padding: 0;
       height: 50px;
       max-width: $max-width;
    }
    .footerlineMobile div {
       text-align: center;
    }
    .footerlineMobile div span {
        font-size: 90%;
        color: grayscale($color: #999999);
    }
}

@media (max-width: 415px) {
    $max-width: 375px;
    .footerMobile div p {
        display: none;
    }
    .footerlineMobile {
       margin: initial; 
       margin: 0 0 0 40px;
       padding: 0;
       height: 50px;
       max-width: $max-width;
    }
    .footerlineMobile div {
       text-align: center;
    }
    .footerlineMobile div span {
        font-size: 90%;
        color: grayscale($color: #999999);
    }
}

@media (max-width: 394px){}

@media (max-width: 391px){
    $max-width: 350px;
    .footerMobile div p {
        display: none;
    }
    .footerlineMobile {
       margin: initial; 
       margin: 0 0 0 30px;
       padding: 0;
       height: 50px;
       max-width: $max-width;
    }
    .footerlineMobile div {
       text-align: center;
    }
    .footerlineMobile div span {
        font-size: 90%;
        color: grayscale($color: #999999);
    }
}

@media (max-width: 386px){}
@media (max-width: 376px) {}
@media (max-width: 361px) {}

@media (max-width: 321px) {
    $max-width: 300px;
    .footerMobile div p {
        display: none;
    }
    .footerlineMobile {
       margin: initial; 
       margin: 0 0 0 30px;
       padding: 0;
       height: 50px;
       max-width: $max-width;
    }
    .footerlineMobile div {
       text-align: center;
    }
    .footerlineMobile div span {
        font-size: 90%;
        color: grayscale($color: #999999);
    }
}