@media (max-width: 429px) {
    .footerMobile div {
        width: 400px;
    }

    .footerMobile div p {
        display: none;
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }

    .footerlineMobile {
        text-align: center;
        font-size: 1.9vh;
        color: gray;
        padding: 10px;
        width: 350px;
    }
}

@media (max-width: 415px) {
    .footerMobile div {
        width: 365px;
    }

    .footerMobile div p {
        display: none;
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }

    .footerlineMobile div {
       
    }
}

@media (max-width: 394px){
    .footerMobile div {
        width: 330px;
    }
    .footerMobile div p {
        display: none;
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }
    .footerlineMobile {
        
    }
}

@media (max-width: 391px){}
@media (max-width: 386px){}

@media (max-width: 376px) {
    .footerMobile div {
        width: 330px;
    }
    .footerMobile div p {
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }
    .footerlineMobile {
        width: 320px;
    }
}

@media (max-width: 361px) {
    .footerMobile div {
        width: 300px;
    }
    .footerMobile div p {
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }
    .footerlineMobile {
        width: 290px;
    }
}

@media (max-width: 321px) {
    .footerMobile div {
        width: 310px;
    }
    .footerMobile div p {
        font-size: 2.0vh;
        padding-top:10px;
        padding-bottom: 10px;
        color: gray;
    }
    .footerlineMobile {
        width: 245px;
    }
}