.footer {
    grid-area: footer;
  }
  
  .footer div {
    margin: 0 36px 40px 35px;
    background: url('/texture.png') repeat #280000;
  }
  
  .footer div p {
    display: inline-block;
    width: 895px;
    margin: 24px 20px;  
    padding: 12px 0px;
    text-align: center;
    border-top: 1px solid #f1f1c5;
    border-bottom: 1px solid #f1f1c5;
    font-weight: bold;
    font: 1.446em/1em 'BebasNeueRegular', Arial, sans-serif;
    color: #cb4c00;
    text-transform: uppercase;  
  }
  
  .footerline {
    width: 935px;
    margin: 0 40px 20px 40px;
    line-height: 1.2em;
    height: 21px;
    background: url('/footerline.png') no-repeat;
    color: #a4b394;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
  }