@media (max-width: 321px){
  $max-width: 280px;
  .wrapper{
    margin: 0;
    padding: 0;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    background: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .asideleft{
    display: none;
  }

  .maincontext {
    margin: 0 0 1em 20px;
    padding: 0 0 0 0;
    border-bottom: 2px solid #303028;
    max-width: $max-width;
  }

  .maincontext div p.linkpricehead {
    padding: 0;
    margin: 0 0 1em 0;
    font-size: 90%;
  }
  .maincontext div p.linkpricehead a {
    color: #ee3124;
  }

  .maincontext div h2 {
    font-size: 155%;
  }

  .maincontext div h3 {
    font-size: 100%;
  }

  .maincontext div p {
    font-size: 90%;
  }

  .maincontext .pricematerials {
    width: 100%;
  }

  .maincontext .pricematerials > tr {
    border-bottom-color: #b3aeae;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 0.5em 0 0.5em 0;
  }

  .maincontext .pricematerials tr > th {
    font-size: 0.8em;
    font-weight: bold;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: thin;
    padding: 0.5em 0 0.5em 0;
    text-align: left;
    color: #303028;
  }

  .maincontext .pricematerials tr > td {
    font-size: 0.8em;
    color: #303028;
    padding: 5px 0 6px 0;

    border-bottom-color: #b3aeae;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 0.5em 0 0.5em 0;


  }

  .maincontext .pricematerials tr td > a {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #4a4d45;
    text-decoration: none;
    border-bottom: 1px solid #4a4d45;
  }

  .maincontext .pr_desc_cost{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #303028;
    gap:0;
  }

  .maincontext .pr_desc_cost div{
    padding: 0.5em 0 0.5em 0;
    margin: 0;
  }

  .maincontext .pr_desc{
    padding: 0;
    margin: 0;
  }
  
  .maincontext .pr_desc p{
    font-size: 115%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .maincontext .pr_desc p a{
    color: #0b153b;
    text-decoration: none;
    display: block;
  }

  .maincontext .pr_desc span{
    font-weight: 700;
    color: #303028;
    font-size: 80%;
  }


  .maincontext .pr_cost p{
    color: #004d40;
    font-size: 115%;
    font-weight: 1000;
    padding: 0;
    margin: 0;
  }

  .maincontext .pr_cost span{
    font-size: 80%;
    font-weight: 700;
    margin: 0; padding: 0;
    color: #303028;
  }

  .maincontext .pr_cost p span{
    font-size: 60%;
    color: #303028;
  }

  .rub::after {
    content: "\20BD";
    font-size: 150%;
    color: #004d40;
  }
  
  .maincontext .pr_desc_cost .pr_box_tiles_size_links{
    border-top: 1px dotted rgba(128, 128, 128, 0.916);
    grid-column: 1 / 3;
  }

  .maincontext .pr_desc_cost .container_tiles  {
    margin: 0; 
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25px);
    gap: 20px;
  }

  .maincontext .pr_desc_cost .container_tiles div{
     margin: 0;
     padding: 0;
  }

  .maincontext .pr_desc_cost .container_tiles div .btn_list_price {
    width: 40px;
    background: #004d40;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: #f1f1c5;
    border-left: #f1f1c5;
    border-radius: 5px;
    font-size: 110%;
    color: #f1f1c5;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .maincontext .pr_desc_cost .container_tiles div .btn_list_price:hover {
    background: #1d49aa;
  }
  .maincontext .pr_desc_cost .container_tiles div .btn_list_price:focus {
    outline: none;
  }

  .maincontext .pr_desc_cost .container_tiles div .btn_list_price_disable{
    width: 40px;
    background: #54570930;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: #f1f1c5;
    border-left: #f1f1c5;
    border-radius: 5px;
    font-size: 110%;
    color: #004d40;
    display: block;
    margin: 0;
    padding: 5px;
    opacity: 10;
    cursor: not-allowed;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .rub_id::after {
    content: "\20BD";
    font-size: 100%;
    color: #004d40;
  }

  .id_cost {grid-area: cost;}
  .id_desc_meter {grid-area: meter;}
  .id_desc_ndc {grid-area: ndc;}
  .id_desc_tiles {grid-area: tiles;}


  .id_cost_container{
    display: grid;
    grid-template-areas:
    'cost meter'
    'cost ndc'
    'tiles tiles'
     ;
    gap: 0;
  }

  .id_cost_container div {
    padding: 0; margin: 0;
  }

  .id_cost_container .id_cost{
    font-size: 300%;
    color: #004d40;
    font-weight: bold;
  }

   .id_cost_container .id_desc_meter{
     font-size: 90%;
   }
   .id_cost_container .id_desc_ndc {
    font-size: 90%;
    color: #ee3124;
    font-weight: bold;
   }

  .id_cost_container .id_desc_tiles{
    border-top: 1px dotted black;
    border-bottom: 1px solid black;
    margin: 1em 0;
    padding: 1em 0;
  }

  .id_tiles_size_container{
    margin: 0; padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 55px);
    gap: 5px;
  }

  .id_tiles_size_container .id_tiles_size {
    margin: 0; padding: 0;
  }

  .id_tiles_size_container .btn_list_price_id {
    width: 50px;
    background: #004d40;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: #f1f1c5;
    border-left: #f1f1c5;
    border-radius: 5px;
    font-size: 110%;
    color: #f1f1c5;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .id_tiles_size_container .btn_list_price_id_disable {
    width: 50px;
    background: #54570930;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-top: #f1f1c5;
    border-left: #f1f1c5;
    border-radius: 5px;
    font-size: 110%;
    color: #004d40;
    display: block;
    margin: 0;
    padding: 5px;
    opacity: 10;
    cursor: not-allowed;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .maincontext .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}