@media (max-width: 386px){
    $max-width: 345px;
    .wrapper{
      margin: 0;
      padding: 0;
      grid-template-areas:
              "nav"
              "main"
              "footer";
      grid-template-columns: auto;
      background: #F6F6C2;
    }
  
    .header{
      display: none;
    }
  
    .nav p {
       margin: initial;
       margin-left: -40px;
       margin-top: -10px;
    }
  
    .asideleft{
      display: none;
    }
  
    .maincontext {
      margin: 0 0 1em 20px;
      padding: 0 0 1em 0;
      max-width: $max-width;
      border-bottom: 2px solid #303028;
    }
  
    .maincontext div h2 {
      margin: 0;
      padding: 0;
      font-size: 155%;
    }
    
    .maincontext div h3 {
      margin: 1.0em 0 0 0;
      padding: 0;
      font-size: 115%;
    }
  
    .maincontext div p {
      margin: 1em 0 0 0;
      padding: 0;
      font-size: 100%;
    }
  
    .mainlinefooter {
      display: none;
    }
  
    .asideright{
      display: none;
    }
  
    .endpage {
      display: none;
    }
  }