@media (max-width: 415px){
    $max-width: 374px;
    .wrapper{
      grid-template-areas:
              "nav"
              "main"
              "footer";
      grid-template-columns: auto;
      background: #F6F6C2;
    }
  
    .header{
      display: none;
    }
  
    .nav p {
       margin: initial;
       margin-left: -40px;
       margin-top: -10px;
    }
  
    .asideleft{
      display: none;
    }
  
    .maincontext {
      margin: 0 0 1em 20px;
      padding: 0 0 1em 0;
      max-width: $max-width;
      border-bottom: 2px solid #303028;
    }

    .maincontext h2{
        margin: 0.5em 0 0 0;
        font-weight: bold;
        font-size: 150%;
        color: #303028;
    }

    .maincontext h2 a{
      color: #ee3124;
  }

    .maincontext ul {
      padding: 0.6em 0 0em 0;
      margin: 0;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      width: 80%;
    }

    .maincontext ul li {
      padding: 0; 
      margin: 0;
      font-size: 80%;
    }

    .maincontext ul li a {
      color: #ee3124;
      display: block;
      font-weight: bold;
    }

    .maincontext .blockNewsMain {
        margin: 1em 0 0 0;
        padding: 0;
    }

    .maincontext .blockNewsMain .newsListMain {
       width: $max-width;
    }
    .maincontext .blockNewsMain .newsListMain div ul {
      display: block;
      margin: 1em 0 0 0;
      padding: 0;
      width: auto;
    }
    .maincontext .blockNewsMain .newsListMain div ul li {
      margin: 0.5em 1em 0 1.5em; 
      padding: 0;
      font-size: 95%;
      font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
      color: #303028;
    }

    .maincontext .blockNewsMain .newsListMain div a {
      color: #ee3124;
    }

    .maincontext .blockNewsMain .newsListMain p {
        margin: 1.0em 0 0 0; 
        padding: 0;
        font-size: 95%;
    }
    .maincontext .blockNewsMain .newsListMain span {
        margin: 0; padding: 0;
        font-size: 70%;
    }

    .maincontext .blockNewsMain .newsListMain span a {
        color: #ee3124;
    }

    .maincontext .blockNewsMain .newsListMain h2 {
        margin: 0.5em 0 0 0; 
        padding: 0 0 0.5em 0;
        font-size: 140%;
    }

    .maincontext .blockNewsMain .newsListMain h3 {
      font-size: 120%;
  }

    .maincontext .blockNewsMain .newsListMain img {
      margin: 1.0em 0 0 0;
      padding: 0;
      width: 100%;
      height: auto;
    }

    .maincontext .blockNewsMain .newsListMain .ctxNews {
        margin: 0.5em 0 0 0;
        font-size: 100%;
    }
   

    .mainlinefooter {
      display: none;
    }
  
    .asideright{
      display: none;
    }
  
    .endpage {
      display: none;
    }
  }