.wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "head head head"
          "nav nav nav"
          "aleft main aright"
          "footer footer footer";
  //grid-template-columns: 9.25em 1fr 15.25em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 0px;
  width: 63em;
  background-image: url("/contentbg.jpg");
  background-repeat: repeat-y;
  background-position: 12px 0;
}

.item {
}

.header {
  grid-area: head;
}

.itemLogo {

}

.logo {
  grid-area: logo;
  margin: 20px 0 0 37px;
}

.texthead {}

.texthead div {
  margin: 20px 35px 0 50px;
  padding: 0 0 0 0;
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  color: #f1f1c5;
  background: url("/texture.png") repeat #280000;
}

.texthead h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 16px 0 0 12px;
}

.texthead h3 {
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 0px 0 4px 12px;
}

.texthead p {
  font-size: 0.7em;
  margin: 0;
  padding: 3px 12px;  
  color: #cb4c00; 
  border-top: 1px solid wheat;
}

.nav {
  grid-area: nav;
  background-image: url(/greenbg.png);
  width: 58.4375em;
  margin: 34px 0 0 37px;
}

ul.menunav {
  padding: 5px 0 2px 0;
}

ul.menunav li {
  display: inline;
  list-style-type: none;
  padding: 4px 14px 3px 14px;
  background-image: url(/greenbg.png);
  border-right-color: wheat;
  border-right-style: solid;
  border-right-width: 1px;
}

.menunav li a {
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2bf;
}

.asideleft {
  grid-area: aleft;
}

.maincontext {
  grid-area: main;
}

.asideright {
  grid-area: aright;
  background: blue;
}

.footer {
  grid-area: footer;
}

.wrapperLogo {
  display: grid;
  grid-template-areas:
          "logo texthead";
  grid-template-columns: 224px 1fr;
  grid-template-rows: 6.9375em;
}