.wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "head head"
          "nav nav"
          "main aright"
          "footer footer";
  grid-template-columns: 40.938em auto;
  grid-gap: 0px;
  width: 63em;
  background-image: url("/contentbg.jpg");
  background-repeat: repeat-y;
  background-position: 12px 0;
}

.item {
  margin: 0;
}

.header {
  grid-area: head;
}

.itemLogo {
  margin: 0;
}

.logo {
  grid-area: logo;
  margin: 20px 0 0 37px;
}

.wrapperLogo {
  display: grid;
  grid-template-areas:
          "logo texthead";
  grid-template-columns: 224px 1fr;
  grid-template-rows: 6.9375em;
}

.texthead {
  margin: 0;
}

.texthead div {
  margin: 20px 37px 0 50px;
  padding: 0;
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  color: #f1f1c5;
  background: url("/texture.png") repeat #280000;
}

.texthead h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 16px 0 0 12px;
}

.texthead h3 {
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 0px 0 4px 12px;
}

.texthead p {
  font-size: 0.7em;
  margin: 0;
  padding: 3px 12px;  
  color: #cb4c00; 
  border-top: 1px solid wheat;
}

.nav {
  grid-area: nav;
  width: 58.4375em;
  margin: 34px 0 0 37px;
}

ul.menunav {
  padding: 3px 0 0 0;
  background-image: url(/greenbg.png);
}

ul.menunav li {
  display: inline;
  list-style-type: none;
  padding: 8px 14px 4px 14px;
  background-image: url(/greenbg.png);
  border-right-color: wheat;
  border-right-style: solid;
  border-right-width: 1px;
}

.menunav li a {
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2bf;
}

.maincontext {
  grid-area: main;
}

.maincontext div {
  margin: 15px 65px 0 35px;
  width: 619px;
}

.maincontext div img {
  display: block;
}

.maincontext .viewportcontainer {
  margin: 0;
  overflow:hidden;
  position:relative;
  height: 351px;
  width: 655px;
}

.maincontext .blockDesc {
  margin: 0 0 0 35px;
  padding: 0 0 0 0;
}

.maincontext div h2 {
  background: black;
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -1px;
  margin: 0;
  padding: 5px 0 0 15px;
}

.maincontext div h2 a {
  text-decoration: none;
  color: #f6f6c2;
}

.maincontext div p {
  background: black;
  margin: 0;
  padding: 15px 20px 20px 17px;
  font-size: 1.192em;
  color: #f6f6c2;
  font-weight: bold;
}

.maincontext .banner {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin: 0 0 0 35px;
  padding: 0;
  justify-content: center;
  background: black;
  border-top: 1px solid #f6f6c2;;
}

.itemBanner {
  margin: 0;
}

.banner .bannerArrow{
   margin: 0;
   padding: 0;
}

.banner .bannerLinkText {
  margin: 0;
  padding: 11px 0 0 10px;
  width: 558px;
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  border-left: 1px solid #f6f6c2;;
}

.banner .bannerLinkText a {
  color: #f6f6c2;;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.banner .bannerLinkText a:hover {
  color: #ee3124;
}

.maincontext .worksList {
  display: grid;
  padding: 0;
  grid-template-columns: 303px 303px;
  gap: 13px;
}

.maincontext .worksList div {
  background: black;
}

.maincontext .viewportcontainerWork{
  margin: 0;
  padding: 0;
  overflow:hidden;
  position:relative;
  height: 228px;
  width:303px;
}

.maincontext .worksListDesc {
  display: grid;
  margin: 0 0 0 35px;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
}

.maincontext .worksListDesc div {
  margin: 0; padding: 0;
}

.maincontext .worksListDesc .one,
.maincontext .worksListDesc .two {
  width: 303px;
  background: black;
}

.maincontext .worksListDesc .one h2,
.maincontext .worksListDesc .two h2 {
  margin: 0; padding: 5px 10px 5px 10px;
  font-size: 1.3em;
}

.maincontext .worksListDesc .one p,
.maincontext .worksListDesc .two p {
  margin: 0; padding: 0 10px 10px 10px;
  font-size: 0.8em;
}

.maincontext .worksListDesc .one h2 > a,
.maincontext .worksListDesc .two h2 > a {
  margin: 0; padding: 0;
  text-decoration: none;
}


.maincontext .worksListArrowLink{
  display: grid;
  margin: 0 0 0 35px; 
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
}

.maincontext .worksListArrowLink div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all {
  border-top: 1px solid #F6F6C2;
  width: 303px;
  background: black;
}

.maincontext .worksListArrowLink .block_all .info_block {
  display: grid;
  grid-template-columns: 43px 1fr;
}

.maincontext .worksListArrowLink .block_all .info_block div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_arrow{
  padding: 0 0 0 5px;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_link {
  border-left: 1px solid #F6F6C2;
  padding: 3px 0 0 8px;
  font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
}

.info_block .info_block_link a {
  text-decoration: none;
  color: #F6F6C2;
}

.info_block .info_block_link a:hover {
  color: #ee3124;
}


.itemWorks {
  margin: 0;
}

.maincontext .worksList figure{
  background: black;
}

.maincontext .worksList figure img{
  display: block;
}

.maincontext .worksList figcaption {
  padding: 5px 5px 4em 2px;
  height: 70px;
}

.maincontext .worksList figcaption h2{
  font-size: 1.4em;
  font-weight: bold;
  line-height: 0.9em;
  margin: 0 0 0.2em 0;
}

.maincontext .worksList figcaption h2 a {
  color: #F2F2BF;
  letter-spacing: -1px;
  text-decoration: none;
}
.maincontext .worksList figcaption p {
  padding: 0 0 10px 10px;
  font-size: 0.8em;
  color: #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink {
  display: grid;
  grid-template-columns: 33px 1fr;
  margin: 0; padding: 0;
}


.blokImgWorkLink .itemBox {
  margin: 0;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg {
  padding: 0;
  border-top: 1px solid #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg img{
  display: block;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText {
  padding: 5px 0 0 10px;
  font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
  border-top: 1px solid #F2F2BF;
  border-left: 1px solid #F2F2BF;
  color: #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a {
  color: #F2F2BF;
  text-decoration: none;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a:hover {
  color: #ee3124;
}

.maincontext .blockRedPrice {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 60px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  align-items: center;
  gap: 15px;
}

.maincontext .blockRedPrice .itemRedPrice {
  margin: 0;
  padding: 0;
}

.maincontext .blockRedPrice .itemRedPrice img {
  display: block;
  padding: 7px 0 7px 5px;
}

.maincontext .blockRedPrice .textLinkRedBlock h2 {
  margin: 0;
  letter-spacing: 1px;
  padding: 0;
  font-weight: normal;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
  background: inherit;
}

.maincontext .blockRedPrice .textLinkRedBlock p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
  background: inherit;
}

.maincontext .blockRedPrice .textLinkRedBlock p a {
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .priceline{
  margin: 0 0 0 35px;
}

.maincontext .priceline li {
  padding: 15px 0 15px 70px;
  line-height: 1.5em;
  font-size: 0.8em;
  color: #303028;
  border-top: 1px dotted #303028;
}

.maincontext .priceline li:hover {
  background: url(/texture.png) repeat 0% 79% #dcdcab;
}

.maincontext .priceline li a {
  color: #ee3124;
  text-decoration: none;
}
.maincontext .priceline li a:hover {
  color: #768263;
}

.maincontext .priceline li p {
  font-size: 0.6em;
  margin: 0.9em 0 0 0;
}

.maincontext .priceline li p a {
  color: #768263;
  text-decoration: none;
}

.maincontext .priceline li p a:hover {
  color: #ee3124;
}

.maincontext .allPriceLine {
  display: grid;
  grid-template-columns: 23px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  //align-items: center;
  margin: 0 0 2em 35px;
}

.itemAllPrice {
  margin: 0;
  padding: 0;
}

.maincontext .allPriceLine .imgAllPrice {
  padding: 6px 0 4px 5px;
  margin: 0;
}

.maincontext .allPriceLine .linkAllPrice {
  margin: 0 0 0 10px;
  padding: 10px 0 10px 10px;
  letter-spacing: 1px;
  border-left: 1px solid #f2f2bf;;
  font: 22px/0.7em 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .allPriceLine .linkAllPrice a {
  color: #F6F6C2;
  text-decoration: none;
}

.maincontext .allPriceLine .linkAllPrice a:hover {
  color: black;
}

.maincontext .containerNews {
  display: grid;
  grid-template-columns: 303px 303px;
  gap: 11px;
}

.news_all .newsfigcaption {
  height: 5em;
}

.news_all .newsfigcaption h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0 0 0;
  background: inherit;
}

.news_all .newsfigcaption h2 a {
  text-decoration: none;
  color: #ee3124;
}

.news_all .dtNews {
  border-top: 2px solid #303028;
  border-bottom: 1px solid #303028;
  font-size: 0.66em;
  font-weight: bold;
  margin: 4em 0 1em 0;
  padding: 8px 0 8px 0;
  width: 303px;
}

.news_all .leadNews {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: normal;
  background: inherit;
  color: #303028;
  line-height: 1.3em;
  width: 303px;
}

.news_all .leadNews a {
  text-decoration: none;
  color: #303028;
}

.news_all .leadNews a:hover {
  color: #ee3124;
}

.maincontext .containerNewsBotton{
  display: grid;
  grid-template-columns: 33px auto;
  margin: 0;
  padding: 0;
}

.newsImg {
  background: black;
 
}
.maincontext .newsLink{
  border-left: 1px solid #f2f2bf;
  padding: 5px 0 0 10px;
  background: black;
  width: 560px;
  font: 21px/28px 'BebasNeueRegular',Arial,sans-serif;
  color: #f2f2bf;
}

.maincontext .newsLink a {
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .newsLink a:hover {
  color: #ee3124;
}

.maincontext .containerItem {
  display: grid;
  background: url("/texture.png") repeat 144px 51px #E72519;
  grid-template-columns: 60px auto;
  margin: 2em 0 0 35px;
}

.maincontext .itemImg {
  margin: 0;
}

.maincontext .itemText {
  margin: 0;
  width: 559px;
}

.maincontext .itemText h2 {
  margin: 0;
  padding: 10px 0 0 10px;
  background: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .itemText p {
  margin: 0;
  padding: 0 0 0 10px;
  background: inherit;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
}
.maincontext .itemText p a{
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .itemline{
  margin: 0 0 0 35px;
}

.maincontext .itemline li {
  padding: 15px 0 15px 70px;
  line-height: 1.5em;
  font-size: 0.8em;
  color: #303028;
  border-top: 1px dotted #303028;
}

.maincontext .itemline li:hover {
  background: url(/texture.png) repeat 0% 79% #dcdcab;
}

.maincontext .itemline li a {
  color: #ee3124;
  text-decoration: none;
}
.maincontext .itemline li a:hover {
  color: #768263;
}

.maincontext .itemline li p {
  font-size: 0.6em;
  margin: 0.9em 0 0 0;
}

.maincontext .itemline li p a {
  color: #768263;
  text-decoration: none;
}

.maincontext .itemline li p a:hover {
  color: #ee3124;
}



.maincontext .allItemLine {
  display: grid;
  grid-template-columns: 23px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  margin: 0 0 2em 35px;
}

.itemAllItem {
  margin: 0;
  padding: 0;
}

.maincontext .allItemLine .imgAllItem {
  padding: 6px 0 4px 5px;
  margin: 0;
}

.maincontext .allItemLine .linkAllItem {
  margin: 0 0 0 10px;
  padding: 10px 0 10px 10px;
  letter-spacing: 1px;
  border-left: 1px solid #f2f2bf;;
  font: 22px/0.7em 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .allItemLine .linkAllItem a {
  color: #F6F6C2;
  text-decoration: none;
}

.maincontext .allItemLine .linkAllItem a:hover {
  color: black;
}


.maincontext .containerVideo {
  display: grid;
  background: url("/texture.png") repeat 144px 51px #E72519;
  grid-template-columns: 60px auto;
  margin: 2em 0 0 35px;
}

.maincontext .videoImg {
  margin: 0;
}

.maincontext .videoText {
  margin: 0;
  width: 559px;
}

.maincontext .videoText h2 {
  margin: 0;
  padding: 5px 0 0px 10px;
  background: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .videoText p {
  margin: 0;
  padding: 0 0 0 10px;
  background: inherit;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .videoText p a{
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .allVideoLine {
  display: grid;
  grid-template-columns: 23px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  //align-items: center;
  margin: 0 0 0 35px;
}

.itemAllVideo {
  margin: 0;
  padding: 0;
}

.maincontext .allVideoLine .imgAllVideo {
  padding: 4px 0 4px 3px;
  margin: 0;
}

.maincontext .allVideoLine .linkAllVideo {
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  letter-spacing: 1px;
  border-left: 1px solid #f2f2bf;;
  font: 22px/0.7em 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .allVideoLine .linkAllVideo a {
  color: #F6F6C2;
  text-decoration: none;
}

.maincontext .allVideoLine .linkAllVideo a:hover {
  color: black;
}


.maincontext .videoline{
  margin: 0 0 0 35px;
}

.maincontext .videoline li {
  padding: 15px 0 15px 70px;
  line-height: 1.5em;
  font-size: 0.8em;
  color: #303028;
  border-top: 1px dotted #303028;
}

.maincontext .videoline li:hover {
  background: url(/texture.png) repeat 0% 79% #dcdcab;
}

.maincontext .videoline li a {
  color: #ee3124;
  text-decoration: none;
}
.maincontext .videoline li a:hover {
  color: #768263;
}

.maincontext .videoline li p {
  font-size: 0.6em;
  margin: 0.9em 0 0 0;
}

.maincontext .videoline li p a {
  color: #768263;
  text-decoration: none;
}

.maincontext .videoline li p a:hover {
  color: #ee3124;
}


.asideright {
  grid-area: aright;
}

.asideright div{
  margin: 15px 0 0 15px;
}

.asideright div img{
  display: block;
}

.hr {
  border-bottom: 1px solid #303028;
  padding-bottom: 0.8em;
}

.componentfooter {
  margin: 2em 0 0 -5px;
  padding: 0;
  width: 1015px;
}

.endpage {
  height: 3.0em;
}

// @media (max-width: 429px) { // Begin of responsive
//   .wrapper{
//     grid-template-areas:
//             "nav"
//             "main"
//             "footer";
//     grid-template-columns: auto;
//     align-items: center;
//     justify-content: center;
//     background-image: url("/contentbg_mobile.jpg");
//     background-color: #F6F6C2;
//   }

//   .header{
//     display: none;
//   }

//   .nav p {
//      margin: initial;
//      margin-left: -40px;
//      margin-top: -10px;
//   }

//   .maincontext div {
//     width: 360px;
//   }

//   .viewportcontainer {
//     display: none;
//   }

//   .maincontext .blockDesc h2 {
//     margin: 0; padding: 10px 0;
//     color: #303028;
//     font-weight: normal;
//     background: inherit;
//     width: 400px;
//   }

//   .maincontext .blockDesc h2 a{
//     color: #004d40;
//     display: block;
//     font-family: 'BebasNeueRegular',Arial,sans-serif;
//     font-size: 4.4vh;
//     letter-spacing: 2px;
//   }

//   .maincontext .blockDesc p {
//     margin: 0; padding: 10px 0;
//     color: #303028;
//     font-size: 2.2vh;
//     font-weight: normal;
//     background: inherit;
//     width: 390px;
//   }


//   .maincontext .banner {
//     display: grid;
//     grid-template-columns: 1fr;
//     background: inherit;
//   }

//   .maincontext .banner .itemBanner {
//      margin: 10px 0 15px 190px; 
//      padding: 5px;
//   }

//   .maincontext .banner .bannerArrow {
//      display: none;
//   }

//   .maincontext .banner .itemBanner .bannerLinkText {
//     margin: 0;
//     padding: 0;
//   }

//   .maincontext .banner .bannerLinkText a {
//     font-size: 3.1vh;
//     color: #ee3124;
//   }
   
//   .maincontext .worksList {
//     display: none;
//   }

//   .maincontext .worksListDesc {
//     display: grid;
//     grid-template-columns: 1fr;
//   }

//   .maincontext .worksListDesc .one h2,
//   .maincontext .worksListDesc .two h2
//   {
//     width: 370px;
//     margin: 0; padding: 0;
//     font-size: 2.1vh;
//     font-weight: bolder;
//     background: #F6F6C2;
//   }

//   .maincontext .worksListDesc .one h2 a,
//   .maincontext .worksListDesc .two h2 a
//   {
//     color: #004d40;
//   }

//   .maincontext .worksListDesc .one p,
//   .maincontext .worksListDesc .two p
//   {
//     margin: 0; 
//     padding: 5px 0 0 0;
//     width: 370px;
//     color: #303028;
//     font-weight: normal;
//     font-size: 2.0vh;
//     background: #F6F6C2;
//   }
  
//   .maincontext .worksListArrowLink {
//     display: none;
//   }

//   .maincontext .blockRedPrice {
//     margin: 15px 0 0 25px; 
//     padding: 0;
//     display: grid;
//     grid-template-columns: 1fr;
//     width: 385px;
//   }

//   .maincontext .blockRedPrice .itemRedPrice img {
//     display: none;
//   }

//   .maincontext .blockRedPrice .textLinkRedBlock h2 {
//       padding: 0 0 6px 32px;
//   }
//   .maincontext .blockRedPrice .textLinkRedBlock p{
//     display: none;
//   }

//   .maincontext .priceline {
//     margin: 0 0 0 25px; 
//     padding: 0;
//     width: 385px;
//   }
//   .maincontext .priceline li {
//     padding: 10px 10px 10px 10px;
//     margin: 0;
//     border-top: none;
//     border-bottom: 1px dotted #303028;
//   }

//   .maincontext .priceline li p{display: none;}
  
//   .maincontext .allPriceLine {
//     display: none;
//   }

//   .responseImg {
//     margin: 0 0 0 -10px; 
//     padding: 0;
//     width: 385px;
//     height: auto;
//   }

//   .maincontext .containerNews {
//     display: grid;
//     grid-template-columns: 1fr;
//   }

//   .maincontext .containerNews .news_all .dtNews,
//   .maincontext .containerNews .news_all .leadNews {
//     display: none;
//   }

//   .maincontext .containerNewsBotton {
//     display: grid;
//     grid-template-columns: 1fr;
//   }
//   .maincontext .containerNewsBotton .newsImg {
//     margin: 0;
//     padding: 0;
//     display: none;
//   }
//   .maincontext .containerNewsBotton .newsLink {
//     margin: 0 0 0 25px;
//     padding: 4px 0 0 10px;
//     background: black;
//     width: 370px;
//   }

//   .maincontext .containerItem {
//     margin: 30px 0 0 26px; 
//     padding: 0;
//     display: grid;
//     grid-template-columns: 1fr;
//   }
//   .maincontext .containerItem .itemImg {
//     margin: 0; padding: 0;
//     display: none;
//   }
//   .maincontext .containerItem .itemText {
//     margin: 0; padding: 4px 0 0 10px;
//     background: inherit;
//     width: 370px;
//   }
//   .maincontext .containerItem .itemText h2 {
//     margin: 0; padding: 0;
//   }
//   .maincontext .containerItem .itemText p {
//     display: none;
//   }
//   .maincontext .itemline {
//     margin: 0 0 0 25px; 
//     padding: 0;
//     width: 381px;
//   }
//   .maincontext .itemline li {
//     padding: 5px 10px 5px 10px;
//     margin: 0;
//     border-top: none;
//     border-bottom:1px dotted #303028;
//   }

//   .maincontext .allItemLine {
//     display: none;
//   }

//   .maincontext .containerVideo {
//     margin: 30px 0 0 26px; 
//     padding: 0;
//     display: grid;
//     grid-template-columns: 1fr;
//   }

//   .maincontext .containerVideo .videoImg {
//     display: none;
//   }

//   .maincontext .containerVideo .videoText {
//     margin: 0; 
//     padding: 0;
//     background: inherit;
//     width: 381px;
//   }
//   .maincontext .containerVideo .videoText p {display: none;}
//   .maincontext .videoline {
//     margin: 0 0 0 25px; 
//     padding: 0;
//     width: 381px;
//   }
//   .maincontext .videoline li {
//     padding: 5px 10px 5px 10px;
//     margin: 0;
//     border-top: none;
//     border-bottom:1px dotted #303028;
//   }
//   .maincontext .allVideoLine {
//     display: none;
//   }

//   .maincontext div h2 {
//     font-size: 3.0vh;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//   }
  
//   .maincontext div h3 {
//     font-size: 2.8vh;
//   }

//   .maincontext div p {
//     font-size: 2.2vh;
//     margin: 0 10px 10px 0;
//   }

//   .mainlinefooter {
//     display: none;
//   }

//   .asideright{
//     display: none;
//   }

//   .endpage {
//     display: none;
//   }
// }

@media (max-width: 415px) {

  $max-width: 375px;

  .wrapper{
    margin: 0 0 0 -20px;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    background: #F6F6C2;
  }

  .header{
    display: none;
  }

  
  .maincontext {
    margin: 0;
    padding: 0;
  }

  .viewportcontainer {
    display: none;
  }


  .maincontext{
     
  }

  .maincontext .blockDesc { 
   display: grid;
   grid-template-columns: auto;
   max-width: $max-width;
  }

  .maincontext .blockDesc h2 {
    padding: 0;
    font-size: 270%;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 1px;
    background: initial;
  }

  .maincontext .blockDesc h2 a{
    display: block;
    color: #004d40;
  }

  .maincontext .blockDesc p {
    padding: 0;
    color: #303028;
    font-weight: normal;
    font-size: 100%;
    background: initial;
  }


  .maincontext .banner {
    padding: 1.0em 0 1.0em 0;
    background: initial;
    max-width: $max-width;
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .bannerLinkText {
    margin: 0;
    padding: 0;
    font-size: 175%;
    background: #F6F6C2;
  }

  .maincontext .banner .bannerLinkText a {
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: auto;
    max-width: $max-width;
  }

  .maincontext .worksListDesc .one,
  .maincontext .worksListDesc .two {
    width: 100%;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    padding: 0 0 0.6em 0;
    font-size: 95%;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 0;
    color: #303028;
    font-weight: normal;
    font-size: 100%;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    display: grid;
    grid-template-columns: auto;
    max-width: $max-width;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 25px;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    padding: 0;
    max-width: $max-width;
  }
  .maincontext .priceline li {
    padding: 1.0em;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .maincontext .responseImg {
    max-width: $max-width;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: auto;
    max-width: $max-width;
  }

  .maincontext .containerNews .news_all .responseImg {
    min-width: 100%;
    height: auto;
  }
  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 1em;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
     max-width: $max-width;
  }
  .maincontext .containerNewsBotton .newsImg {
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    padding: 6px 0 3px 10px;
    margin: 0 0 0 35px;
    font-size: 120%;
    max-width: $max-width - 10px;
  }

  .maincontext .containerItem {
    max-width: $max-width;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    padding: 0 0 3px 0;
  }

  .maincontext .containerItem .itemText p {
    display: none;
  }

  .maincontext .itemline { 
    padding: 0;
    max-width: $max-width;
  }
  .maincontext .itemline li {
    padding: 1em 10px 1em 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    max-width: $max-width;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    padding: 3px 0 3px 0;
  }

  .maincontext .containerVideo .videoText p {display: none;}

  .maincontext .videoline {
    padding: 0;
    max-width: $max-width;
  }
  .maincontext .videoline li {
    padding: 1em 10px 1em 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}


@media (max-width: 394px) {
  .wrapper{
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 360px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 350px;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    font-size: 5.3vh;
    letter-spacing: 2px;
  }

  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 0 15px 190px; padding: 5px;
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 3.7vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 355px;
    margin: 0; padding: 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 340px;
    color: #303028;
    font-weight: normal;
    font-size: 1.9vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 25px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 15px;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 350px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 350px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption h2 {
    width: 320px;
  }

  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 2.2vh;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 340px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 350px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 350px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 300px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 350px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}

@media (max-width: 391px) {
  .wrapper{
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 360px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-size: 4.2vh;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 2px;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 350px;
  }


  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 0 15px 190px; 
     padding: 5px;
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 2.9vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 310px;
    margin: 0; padding: 0 0 5px 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 330px;
    color: #303028;
    font-weight: normal;
    font-size: 2.1vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 25px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 340px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 18px;
      font-size: 2.5vh;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 340px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 340px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption h2 {
    width: 320px;
    font-size: 2.0vh;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 330px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 340px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 340px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 340px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 300px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 340px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}

@media (max-width: 386px){
  .wrapper{
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 360px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 350px;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 2px;
  }

  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 0 15px 190px; 
     padding: 5px;
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 3.7vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 310px;
    margin: 0; padding: 0 0 5px 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 330px;
    color: #303028;
    font-weight: normal;
    font-size: 2.1vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 25px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 335px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 25px;
      font-size: 3vh;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 335px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 335px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption{
    margin: 0 0 10px 0;
    height: 100%;
    width: 320px;
  }

  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 2.2vh;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 325px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 335px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 335px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 335px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 300px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 335px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}


@media (max-width: 385px){
  .wrapper {
    .maincontext .banner .bannerLinkText a {
      font-size: 2.9vh;
      color: #ee3124;
    }
    .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 15px;
      font-size: 2.5vh;
  }
  }
}

@media (max-width: 376px){
  .wrapper{
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 360px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 15px 0 0 0; 
    padding: 0;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-size: 4.2vh;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 2px;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 320px;
  }

  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 15px 15px 200px; 
     padding: 5px;
    
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 2.9vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 310px;
    margin: 0; padding: 0 0 5px 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 310px;
    color: #303028;
    font-weight: normal;
    font-size: 2.1vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 25px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 325px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 15px;
      font-size: 2.5vh;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 325px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 1.9vh;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 325px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption{
    margin: 0 0 10px 0;
    height: 100%;
    width: 320px;
  }

  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 2.2vh;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 315px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 325px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 325px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 325px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 300px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 325px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}

@media (max-width: 361px){
  .wrapper{
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 360px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 15px 0 0 0; 
    padding: 0;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-size: 4.3vh;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 2px;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 310px;
  }

  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 15px 15px 200px; 
     padding: 5px;
    
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 3.0vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 310px;
    margin: 0; padding: 0 0 5px 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 310px;
    color: #303028;
    font-weight: normal;
    font-size: 2.1vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 25px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 315px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 12px;
      font-size: 2.6vh;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 315px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 1.8vh;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 315px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption{
    margin: 0 0 10px 0;
    height: 100%;
    width: 320px;
  }

  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 2.2vh;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 305px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 315px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 315px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 315px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 300px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 315px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }

  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}

@media (max-width: 321px){
  .wrapper{
    margin: 0 0 0 -15px; padding: 0;
    grid-template-areas:
            "nav"
            "main"
            "footer";
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    background-image: url("/contentbg_mobile.jpg");
    background-color: #F6F6C2;
  }

  .header{
    display: none;
  }

  .nav p {
     margin: initial;
     margin-left: -40px;
     margin-top: -10px;
  }

  .maincontext div {
    width: 300px;
  }

  .viewportcontainer {
    display: none;
  }

  .maincontext .blockDesc h2 {
    margin: 0; 
    padding: 0;
    font-weight: normal;
    background: inherit;
  }

  .maincontext .blockDesc h2 a{
    color: #004d40;
    display: block;
    font-size: 4.5vh;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 2px;
  }

  .maincontext .blockDesc p {
    margin: 0; padding: 10px 0;
    color: #303028;
    font-size: 2.2vh;
    font-weight: normal;
    background: inherit;
    width: 300px;
  }

  .maincontext .banner {
    display: grid;
    grid-template-columns: 1fr;
    background: inherit;
  }

  .maincontext .banner .itemBanner {
     margin: 10px 15px 15px 270px; 
     padding: 5px;
    
  }

  .maincontext .banner .bannerArrow {
     display: none;
  }

  .maincontext .banner .itemBanner .bannerLinkText {
    margin: 0;
    padding: 0;
  }

  .maincontext .banner .bannerLinkText a {
    font-size: 3.1vh;
    color: #ee3124;
  }
   
  .maincontext .worksList {
    display: none;
  }

  .maincontext .worksListDesc {
    display: grid;
    grid-template-columns: 1fr;
  }

  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2
  {
    width: 305px;
    margin: 0; 
    padding: 0 0 5px 0;
    font-size: 1.9vh;
    font-weight: bolder;
    background: #F6F6C2;
  }

  .maincontext .worksListDesc .one h2 a,
  .maincontext .worksListDesc .two h2 a
  {
    color: #004d40;
  }

  .maincontext .worksListDesc .one p,
  .maincontext .worksListDesc .two p
  {
    margin: 0; 
    padding: 5px 0 0 0;
    width: 300px;
    color: #303028;
    font-weight: normal;
    font-size: 2.0vh;
    background: #F6F6C2;
  }
  
  .maincontext .worksListArrowLink {
    display: none;
  }

  .maincontext .blockRedPrice {
    margin: 15px 0 0 30px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 290px;
  }

  .maincontext .blockRedPrice .itemRedPrice img {
    display: none;
  }

  .maincontext .blockRedPrice .textLinkRedBlock h2 {
      padding: 0 0 6px 16px;
      font-size: 2.6vh;
  }
  .maincontext .blockRedPrice .textLinkRedBlock p{
    display: none;
  }

  .maincontext .priceline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 290px;
  }
  .maincontext .priceline li {
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size: 1.6vh;
    border-top: none;
    border-bottom: 1px dotted #303028;
  }

  .maincontext .priceline li p{display: none;}
  
  .maincontext .allPriceLine {
    display: none;
  }

  .responseImg {
    margin: 0 0 0 -10px; 
    padding: 0;
    width: 290px;
    height: auto;
  }

  .maincontext .containerNews {
    display: grid;
    grid-template-columns: 1fr;
  }


  .maincontext .containerNews .news_all .newsfigcaption{
    margin: 0 0 10px 0;
    height: 100%;
  }

  .maincontext .containerNews .news_all .newsfigcaption h2 {
    font-size: 1.8vh;
    width: 250px;
  }

  .maincontext .containerNews .news_all .dtNews,
  .maincontext .containerNews .news_all .leadNews {
    display: none;
  }

  .maincontext .containerNewsBotton {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .maincontext .containerNewsBotton .newsImg {
    margin: 0;
    padding: 0;
    display: none;
  }
  .maincontext .containerNewsBotton .newsLink {
    margin: 0 0 0 25px;
    padding: 4px 0 0 10px;
    background: black;
    width: 280px;
  }

  .maincontext .containerItem {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 290px;
  }
  .maincontext .containerItem .itemImg {
    display: none;
  }
  .maincontext .containerItem .itemText {
    margin: 0; padding: 4px 0 0 10px;
    background: inherit;
    width: 100px;
  }
  .maincontext .containerItem .itemText h2 {
    margin: 0; padding: 0;
  }
  .maincontext .containerItem .itemText p {
    display: none;
  }
  .maincontext .itemline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 290px;
  }
  .maincontext .itemline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }

  .maincontext .allItemLine {
    display: none;
  }

  .maincontext .containerVideo {
    margin: 30px 0 0 26px; 
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 290px;
  }

  .maincontext .containerVideo .videoImg {
    display: none;
  }

  .maincontext .containerVideo .videoText {
    margin: 0; 
    padding: 0;
    background: inherit;
    width: 290px;
  }
  .maincontext .containerVideo .videoText p {display: none;}
  .maincontext .videoline {
    margin: 0 0 0 25px; 
    padding: 0;
    width: 290px;
  }
  .maincontext .videoline li {
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-top: none;
    border-bottom:1px dotted #303028;
  }
  .maincontext .allVideoLine {
    display: none;
  }

  .maincontext div h2 {
    font-size: 3.0vh;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .maincontext div h3 {
    font-size: 2.8vh;
  }

  .maincontext div p {
    font-size: 2.2vh;
    margin: 0 10px 10px 0;
  }

  .mainlinefooter {
    display: none;
  }


  .asideright{
    display: none;
  }

  .endpage {
    display: none;
  }
}













