.wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "head head"
          "nav nav"
          "main aright"
          "footer footer";
  grid-template-columns: 40.938em auto;
  grid-gap: 0px;
  width: 63em;
  background-image: url("/contentbg.jpg");
  background-repeat: repeat-y;
  background-position: 12px 0;
}

.item {
  margin: 0;
}

.header {
  grid-area: head;
}

.itemLogo {
  margin: 0;
}

.logo {
  grid-area: logo;
  margin: 20px 0 0 37px;
}

.wrapperLogo {
  display: grid;
  grid-template-areas:
          "logo texthead";
  grid-template-columns: 224px 1fr;
  grid-template-rows: 6.9375em;
}

.texthead {
  margin: 0;
}

.texthead div {
  margin: 20px 37px 0 50px;
  padding: 0;
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  color: #f1f1c5;
  background: url("/texture.png") repeat #280000;
}

.texthead h2 {
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 16px 0 0 12px;
}

.texthead h3 {
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 0px 0 4px 12px;
}

.texthead p {
  font-size: 0.7em;
  margin: 0;
  padding: 3px 12px;  
  color: #cb4c00; 
  border-top: 1px solid wheat;
}

.nav {
  grid-area: nav;
  width: 58.4375em;
  margin: 34px 0 0 37px;
}

ul.menunav {
  padding: 3px 0 0 0;
  background-image: url(/greenbg.png);
}

ul.menunav li {
  display: inline;
  list-style-type: none;
  padding: 8px 14px 4px 14px;
  background-image: url(/greenbg.png);
  border-right-color: wheat;
  border-right-style: solid;
  border-right-width: 1px;
}

.menunav li a {
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #f2f2bf;
}

.maincontext {
  grid-area: main;
}

.maincontext div {
  margin: 15px 65px 0 35px;
  width: 619px;
}

.maincontext div img {
  display: block;
}

.maincontext .viewportcontainer {
  margin: 0;
  overflow:hidden;
  position:relative;
  height: 351px;
  width: 655px;
}

.maincontext .blockDesc {
  margin: 0 0 0 35px;
  padding: 0 0 0 0;
}

.maincontext div h2 {
  background: black;
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.2em;
  letter-spacing: -1px;
  margin: 0;
  padding: 5px 0 0 15px;
}

.maincontext div h2 a {
  text-decoration: none;
  color: #f6f6c2;
}

.maincontext div p {
  background: black;
  margin: 0;
  padding: 15px 20px 20px 17px;
  font-size: 1.192em;
  color: #f6f6c2;
  font-weight: bold;
}

.maincontext .banner {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin: 0 0 0 35px;
  padding: 0;
  justify-content: center;
  background: black;
  border-top: 1px solid #f6f6c2;;
}

.itemBanner {
  margin: 0;
}

.banner .bannerArrow{
   margin: 0;
   padding: 0;
}

.banner .bannerLinkText {
  margin: 0;
  padding: 11px 0 0 10px;
  width: 558px;
  font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
  border-left: 1px solid #f6f6c2;;
}

.banner .bannerLinkText a {
  color: #f6f6c2;;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.banner .bannerLinkText a:hover {
  color: #ee3124;
}

.maincontext .worksList {
  display: grid;
  padding: 0;
  grid-template-columns: 303px 303px;
  gap: 13px;
}

.maincontext .worksList div {
  background: black;
}

.maincontext .viewportcontainerWork{
  margin: 0;
  padding: 0;
  overflow:hidden;
  position:relative;
  height: 228px;
  width:303px;
}

.maincontext .worksListDesc {
  display: grid;
  margin: 0 0 0 35px;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
}

.maincontext .worksListDesc div {
  margin: 0; padding: 0;
}

.maincontext .worksListDesc .one,
.maincontext .worksListDesc .two {
  width: 303px;
  background: black;
}

.maincontext .worksListDesc .one h2,
.maincontext .worksListDesc .two h2 {
  margin: 0; padding: 5px 10px 5px 10px;
  font-size: 1.3em;
}

.maincontext .worksListDesc .one p,
.maincontext .worksListDesc .two p {
  margin: 0; padding: 0 10px 10px 10px;
  font-size: 0.8em;
}

.maincontext .worksListDesc .one h2 > a,
.maincontext .worksListDesc .two h2 > a {
  margin: 0; padding: 0;
  text-decoration: none;
}


.maincontext .worksListArrowLink{
  display: grid;
  margin: 0 0 0 35px; 
  padding: 0;
  grid-template-columns: 1fr 1fr;
  gap: 13px;
}

.maincontext .worksListArrowLink div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all {
  border-top: 1px solid #F6F6C2;
  width: 303px;
  background: black;
}

.maincontext .worksListArrowLink .block_all .info_block {
  display: grid;
  grid-template-columns: 43px 1fr;
}

.maincontext .worksListArrowLink .block_all .info_block div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_arrow{
  padding: 0 0 0 5px;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_link {
  border-left: 1px solid #F6F6C2;
  padding: 3px 0 0 8px;
  font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
}

.info_block .info_block_link a {
  text-decoration: none;
  color: #F6F6C2;
}

.info_block .info_block_link a:hover {
  color: #ee3124;
}


.itemWorks {
  margin: 0;
}

.maincontext .worksList figure{
  background: black;
}

.maincontext .worksList figure img{
  display: block;
}

.maincontext .worksList figcaption {
  padding: 5px 5px 4em 2px;
  height: 70px;
}

.maincontext .worksList figcaption h2{
  font-size: 1.4em;
  font-weight: bold;
  line-height: 0.9em;
  margin: 0 0 0.2em 0;
}

.maincontext .worksList figcaption h2 a {
  color: #F2F2BF;
  letter-spacing: -1px;
  text-decoration: none;
}
.maincontext .worksList figcaption p {
  padding: 0 0 10px 10px;
  font-size: 0.8em;
  color: #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink {
  display: grid;
  grid-template-columns: 33px 1fr;
  margin: 0; padding: 0;
}


.blokImgWorkLink .itemBox {
  margin: 0;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg {
  padding: 0;
  border-top: 1px solid #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg img{
  display: block;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText {
  padding: 5px 0 0 10px;
  font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
  border-top: 1px solid #F2F2BF;
  border-left: 1px solid #F2F2BF;
  color: #F2F2BF;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a {
  color: #F2F2BF;
  text-decoration: none;
}

.maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a:hover {
  color: #ee3124;
}

.maincontext .blockRedPrice {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 60px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  align-items: center;
  gap: 15px;
}

.maincontext .blockRedPrice .itemRedPrice {
  margin: 0;
  padding: 0;
}

.maincontext .blockRedPrice .itemRedPrice img {
  display: block;
  padding: 7px 0 7px 5px;
}

.maincontext .blockRedPrice .textLinkRedBlock h2 {
  margin: 0;
  letter-spacing: 1px;
  padding: 0;
  font-weight: normal;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
  background: inherit;
}

.maincontext .blockRedPrice .textLinkRedBlock p {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
  background: inherit;
}

.maincontext .blockRedPrice .textLinkRedBlock p a {
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .priceline{
  margin: 0 0 0 35px;
}

.maincontext .priceline li {
  padding: 15px 0 15px 70px;
  line-height: 1.5em;
  font-size: 0.8em;
  color: #303028;
  border-top: 1px dotted #303028;
}

.maincontext .priceline li:hover {
  background: url(/texture.png) repeat 0% 79% #dcdcab;
}

.maincontext .priceline li a {
  color: #ee3124;
  text-decoration: none;
}
.maincontext .priceline li a:hover {
  color: #768263;
}

.maincontext .priceline li p {
  font-size: 0.6em;
  margin: 0.9em 0 0 0;
}

.maincontext .priceline li p a {
  color: #768263;
  text-decoration: none;
}

.maincontext .priceline li p a:hover {
  color: #ee3124;
}

.maincontext .allPriceLine {
  display: grid;
  grid-template-columns: 23px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  //align-items: center;
  margin: 0 0 2em 35px;
}

.itemAllPrice {
  margin: 0;
  padding: 0;
}

.maincontext .allPriceLine .imgAllPrice {
  padding: 4px 0 4px 3px;
  margin: 0;
}

.maincontext .allPriceLine .linkAllPrice {
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  letter-spacing: 1px;
  border-left: 1px solid #f2f2bf;;
  font: 22px/0.7em 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .allPriceLine .linkAllPrice a {
  color: #F6F6C2;
  text-decoration: none;
}

.maincontext .allPriceLine .linkAllPrice a:hover {
  color: black;
}

.maincontext .containerNews {
  display: grid;
  grid-template-columns: 303px 303px;
  gap: 11px;
}

.news_all .newsfigcaption {
  height: 5em;
}

.news_all .newsfigcaption h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0 0 0;
  background: inherit;
}

.news_all .newsfigcaption h2 a {
  text-decoration: none;
  color: #ee3124;
}

.news_all .dtNews {
  border-top: 2px solid #303028;
  border-bottom: 1px solid #303028;
  font-size: 0.66em;
  font-weight: bold;
  margin: 4em 0 1em 0;
  padding: 8px 0 8px 0;
  width: 303px;
}

.news_all .leadNews {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: normal;
  background: inherit;
  color: #303028;
  line-height: 1.3em;
  width: 303px;
}

.news_all .leadNews a {
  text-decoration: none;
  color: #303028;
}

.news_all .leadNews a:hover {
  color: #ee3124;
}

.maincontext .containerNewsBotton{
  display: grid;
  grid-template-columns: 33px auto;
  margin: 0;
  padding: 0;
}

.newsImg {
  background: black;
 
}
.maincontext .newsLink{
  border-left: 1px solid #f2f2bf;
  padding: 5px 0 0 10px;
  background: black;
  width: 560px;
  font: 21px/28px 'BebasNeueRegular',Arial,sans-serif;
  color: #f2f2bf;
}

.maincontext .newsLink a {
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .newsLink a:hover {
  color: #ee3124;
}

.maincontext .containerItem {
  display: grid;
  background: url("/texture.png") repeat 144px 51px #E72519;
  grid-template-columns: 60px auto;
  margin: 2em 0 0 35px;
}

.maincontext .itemImg {
  margin: 0;
}

.maincontext .itemText {
  margin: 0;
  width: 559px;
}

.maincontext .itemText h2 {
  margin: 0;
  padding: 10px 0 0 10px;
  background: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .itemText p {
  margin: 0;
  padding: 0 0 0 10px;
  background: inherit;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
}
.maincontext .itemText p a{
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .containerVideo {
  display: grid;
  background: url("/texture.png") repeat 144px 51px #E72519;
  grid-template-columns: 60px auto;
  margin: 2em 0 0 35px;
}

.maincontext .videoImg {
  margin: 0;
}

.maincontext .videoText {
  margin: 0;
  width: 559px;
}

.maincontext .videoText h2 {
  margin: 0;
  padding: 10px 0 0 10px;
  background: inherit;
  font-weight: normal;
  letter-spacing: 1px;
  color: #f2f2bf;
  font-size: 1.399999em;
  font-family: 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .videoText p {
  margin: 0;
  padding: 0 0 0 10px;
  background: inherit;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: normal;
  color: #f2f2bf;
  font-family:'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .videoText p a{
  color: #f2f2bf;
  text-decoration: none;
}

.maincontext .allVideoLine {
  display: grid;
  grid-template-columns: 23px 1fr;
  background: url("/texture.png") repeat 144px 51px #E72519;
  //align-items: center;
  margin: 0 0 0 35px;
}

.itemAllVideo {
  margin: 0;
  padding: 0;
}

.maincontext .allVideoLine .imgAllVideo {
  padding: 4px 0 4px 3px;
  margin: 0;
}

.maincontext .allVideoLine .linkAllVideo {
  margin: 0 0 0 10px;
  padding: 10px 0 0 10px;
  letter-spacing: 1px;
  border-left: 1px solid #f2f2bf;;
  font: 22px/0.7em 'BebasNeueRegular',Arial,sans-serif;
}

.maincontext .allVideoLine .linkAllVideo a {
  color: #F6F6C2;
  text-decoration: none;
}

.maincontext .allVideoLine .linkAllVideo a:hover {
  color: black;
}




.asideright {
  grid-area: aright;
}

.asideright div{
  margin: 15px 0 0 15px;
}

.asideright div img{
  display: block;
}

.hr {
  border-bottom: 1px solid #303028;
  padding-bottom: 0.8em;
}

// .footer {
//   grid-area: footer;
// }

// .footer div {
//   margin: 5em 35px 40px 35px;
//   background: url('/texture.png') repeat #280000;
// }

// .footer div p {
//   display: inline-block;
//   width: 895px;
//   margin: 24px 18px;  
//   padding: 12px 0px;
//   text-align: center;
//   border-top: 1px solid #f1f1c5;
//   border-bottom: 1px solid #f1f1c5;
//   font-weight: bold;
//   font: 1.446em/1em 'BebasNeueRegular', Arial, sans-serif;
//   color: #cb4c00;
//   text-transform: uppercase;  
// }

// .footerline {
//   width: 935px;
//   margin: 0 40px 20px 40px;
//   line-height: 1.2em;
//   height: 21px;
//   background: url('/footerline.png') no-repeat;
//   color: #a4b394;
//   font-size: 0.7em;
//   text-align: center;
//   text-transform: uppercase;
// }

.componentfooter {
  margin: 2em 0 0 -5px;
  padding: 0;
  width: 1015px;
}

.endpage {
  height: 3.0em;
}