html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


@font-face{
    src:url(/font/BebasNeue-webfont.eot);
    src:url(/font/BebasNeue-webfont.eot?iefix) format('eot'),
    url(/font/BebasNeue-webfont.woff) format('woff'),
    url(/font/BebasNeue-webfont.ttf) format('truetype'),
    url(/font/BebasNeue-webfont.svg#webfontfvFLBU0N) format('svg');
    font-family:'BebasNeueRegular';
    font-weight:normal;
    font-style:normal;
}


body {
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-size: 100%;
    background-image: url('/bgtile.png');
    width: 100%;
    height: 100%;
}

@media (max-width: 481px) {
    body {
        background: #ee3124;
        overflow-x: hidden;
    }
}