.wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "head head head"
          "nav nav nav"
          "aleft main aright"
          "footer footer footer";
  grid-template-columns: 12.488em 1fr 21.875em;
  grid-gap: 0px;
  width: 63em;
  background-image: url("/contentbg.jpg");
  background-repeat: repeat-y;
  background-position: 12px 0;
  }
  
  .item {
    margin: 0;
  }
  
  .header {
    grid-area: head;
  }
  
  .itemLogo {
    margin: 0;
  }
  
  .logo {
    grid-area: logo;
    margin: 20px 0 0 37px;
  }
  
  .wrapperLogo {
    display: grid;
    grid-template-areas:
            "logo texthead";
    grid-template-columns: 224px 1fr;
    grid-template-rows: 6.9375em;
  }
  
  .texthead {
    margin: 0;
  }
  
  .texthead div {
    margin: 20px 35px 0 50px;
    padding: 0 0 0 0;
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    color: #f1f1c5;
    background: url("/texture.png") repeat #280000;
  }
  
  .texthead h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 16px 0 0 12px;
  }
  
  .texthead h3 {
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 0px 0 4px 12px;
  }
  
  .texthead p {
    font-size: 0.7em;
    margin: 0;
    padding: 3px 12px;  
    color: #cb4c00; 
    border-top: 1px solid wheat;
  }
  
  .nav {
    grid-area: nav;
    width: 58.4375em;
    margin: 34px 0 0 37px;
  }
  
  ul.menunav {
    padding: 3px 0 0 0;
    background-image: url(/greenbg.png);
  }
  
  ul.menunav li {
    display: inline;
    list-style-type: none;
    padding: 8px 14px 4px 14px;
    background-image: url(/greenbg.png);
    border-right-color: wheat;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  .menunav li a {
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2bf;
  }
  
  .asideleft {
    grid-area: aleft;
  }
  .asideleft div {
    margin: 15px 0 0 37px;
  }
  .asideleft div > p {
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1.5em;
  }
  
  .maincontext {
    grid-area: main;
  }
  .maincontext div {
    margin: 15px 0 0 0;
  }

  .maincontext div > h2 {
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    color: #303028;
    font-size: 2.3em;
    line-height: 1em;
    font-weight: bold;
  }
  
  .maincontext div > h3 {
    margin: 1em 0 1em 0;
    font-weight: bold;
    color: #303028;
  }
  .maincontext div .ndc {
    color: #ee3124;
    text-transform: uppercase;
  }
  
  .maincontext div > p {
    margin: 1.5em 0;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    color: #303028;
    font-size: 0.8em;
    line-height: 1.4em;
  }
  
  .maincontext div p .activecalc {
    color: red;
  } 

  .maincontext div p .activecalc:hover {
    color: #280000;
  }
  
  .maincontext div p > strong {
    font-weight: bold;
  }
  
  .maincontext div > ul {
    list-style-type: disc;
    margin-left: 0;
    padding-left: 2em;
  }
  
  .maincontext div ul > li {
    margin: 0;
    padding: 0;
    color: #303028;
    font-size: 0.8em;
    line-height: 1.4em;
  }
  
  .maincontext div p > em {
    font-style: italic;
  }
  
  .maincontext .mainlinefooter {
    border-top: 1px solid #303028;
    border-bottom: 2px solid #303028;
    height: 20px;
    margin: 1em 0 5em 0;
    padding: 0 0 7px 0;
  }
  
  .maincontext .mainlinefooter > span {
    line-height: 1.5em;
  }
  
  .maincontext .mainlinefooter span > a {
    line-height: 2em;
    display: block;
    letter-spacing: -1px;
    font-size: 0.9em;
    color: #303028;
    font-weight: bold;
    text-decoration: none;
  }
  
  .maincontext .mainlinefooter span > a:hover{
    color: #ee3124;
    outline: none;
  }
  
  .maincontext .mainlinefooter span a > img {
      margin: 0 5px -2px 0;
  }

  .maincontext .pr_desc_cost{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0;
    padding: 0;
    //border-top: 1px solid #303028;
    border-bottom: 1px solid #303028;
    gap:0;
  }

  .maincontext .pr_desc_cost div{
    padding: 0.5em 0 0.5em 0;
    margin: 0;
  }

  .maincontext .pr_desc{
    padding: 0;
    margin: 0;
  }
  
  .maincontext .pr_desc p{
    font-size: 90%;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  .maincontext .pr_desc p a{
    color: #0b153b;
    text-decoration: none;
    display: block;
  }

  .maincontext .pr_desc span{
    font-weight: 700;
    color: #303028;
    font-size: 80%;
  }


  .maincontext .pr_cost p{
    color: #004d40;
    font-size: 90%;
    font-weight: 1000;
    padding: 0;
    margin: 0;
  }

  .maincontext .pr_cost span{
    font-size: 80%;
    font-weight: 700;
    margin: 0; padding: 0;
    color: #303028;
  }

  .maincontext .pr_cost p span{
    font-size: 80%;
    color: #303028;
  }

  
  .maincontext .pr_desc_cost .pr_box_tiles_size_links{
    border-top: 1px dotted rgba(128, 128, 128, 0.916);
    grid-column: 1 / 3;
  }

  .maincontext .pr_desc_cost .container_tiles  {
    //min-width: 321px;
    margin: 0; 
    padding: 0;
    display: grid;
    //grid-template-columns: repeat(15, 1fr);
    grid-template-columns: repeat(auto-fill, 25px);
    gap: 5px;
  }
  .maincontext .pr_desc_cost .container_tiles div{
    background: rgb(233, 231, 216);
    width: 25px;
    padding: 3px 0 3px 0;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
  }

  .maincontext .pr_desc_cost .container_tiles div a{
    color: #18113b;
    display: block;
    text-decoration: none;
  }



  .maincontext .pricematerials {
    width: 100%;
  }

  .maincontext .pricematerials > tr {
    border-bottom-color: #b3aeae;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 0.5em 0 0.5em 0;
  }

  .maincontext .pricematerials tr > th {
    font-size: 0.8em;
    font-weight: bold;
    border-bottom-color: gray;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-top-color: gray;
    border-top-style: solid;
    border-top-width: thin;
    padding: 0.5em 0 0.5em 0;
    text-align: left;
    color: #303028;
  }

  .maincontext .pricematerials tr > td {
    font-size: 0.8em;
    color: #303028;
    padding: 5px 0 6px 0;
    border-bottom-color: #b3aeae;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 0.5em 0 0.5em 0;
  }

  .maincontext .pricematerials tr td > select {
    //-webkit-appearance: none;
    //-webkit-appearance:caret;
    //-webkit-border-radius:0; 
    //border-radius:0; 
    //display: block;
 	  // margin: auto;
 	  // border-radius: 50px;
 	  // background: white;
 	  // padding: 5px;
 	  // max-width: 360px;
 	  // text-align: center;
 	  // width: 90%;
 	   // position: relative;
     //-webkit-appearance: none;
     //-moz-appearance: none;
     //background: gray;
       // border-bottom: 6px solid black;
      //  border-left: 6px solid transparent;
    //  border-right: 6px solid transparent;
    //  border:1px solid gold;
 		//  position: relative;
    // padding-right: 10px;
    // outline: none;
    //background-color: #333;
  
    border-radius: 0;
    //width:auto;
    //border-color: black;

  }


  .maincontext .pricematerials tr td > a {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #4a4d45;
    text-decoration: none;
    border-bottom: 1px solid #4a4d45;
  }
  
  .asideright {
    grid-area: aright;
  }
  
  .testHeadBlockOne {
    display: grid;
    margin: 1em 35px 0 90px;
    grid-template-columns: 29px 1fr;
    align-items: center;
    background: url("/texture.png") repeat top left #E72519;
  }
  .testHeadBlockOneImg {
    margin:0;
  }
  
  .testHeadBlockOneText {
    margin: 5px 0 0 4px;
    font-size: 1.1em;
    color: #F6F6C2 !important;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
  }
  
  .testHeadBlockBody {
    margin: 5px 30px 1em 90px;
    font-size: 0.8em;
    line-height: 1.4em;
    color: #303028;
  }
  
  .testHeadBlockTwo{
    display: grid;
    margin: 0 35px 0 90px;
    padding: 3px 0 0 0;
    grid-template-columns: 16px 1fr;
    border-top: 1px solid #303028;
    border-bottom: 2px solid #303028;
  }
  
  .testHeadBlockTwoImg {
    margin: 0;
  }
  
  .testHeadBlockTwoLink a {
    display: block;
    margin: 1px 0 0 4px;
    text-decoration: none;
    color: #303028;
    font-size: 0.8em;
    font-weight: bold;
  }

  .hr {
    border-bottom: 1px solid #303028;
    padding-bottom: 0.8em;
  }

  

  .footer {
    grid-area: footer;
  }
  
  .footer div {
    margin: 0 40px 40px 40px;
    background: url('/texture.png') repeat #280000;
  }
  
  .footer div p {
    display: inline-block;
    width: 895px;
    margin: 24px 20px;  
    padding: 12px 0px;
    text-align: center;
    border-top: 1px solid #f1f1c5;
    border-bottom: 1px solid #f1f1c5;
    font-weight: bold;
    font: 1.446em/1em 'BebasNeueRegular', Arial, sans-serif;
    color: #cb4c00;
    text-transform: uppercase;  
  }
  
  .footerline {
    width: 935px;
    margin: 0 40px 20px 40px;
    line-height: 1.2em;
    height: 21px;
    background: url('/footerline.png') no-repeat;
    color: #a4b394;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .endpage {
    height: 3.0em;
  }

  @import '/styles/res/materials/429.scss';
  @import '/styles/res/materials/415.scss';
  @import '/styles/res/materials/394.scss';
  @import '/styles/res/materials/391.scss';
  @import '/styles/res/materials/386.scss';
  @import '/styles/res/materials/384.scss';
  @import '/styles/res/materials/376.scss';
  @import '/styles/res/materials/361.scss';
  @import '/styles/res/materials/321.scss';