.viewportcontainer{
  overflow:hidden;
  position:relative;
  width:303px;
}

.viewport{
  height:0px;
  top:-228px;
  margin:0;
  position:relative;
}

.viewport img{
  top:0;
  left:0;
  border:0;
}


.influencers {
  background: gold;
}

.influencers img {
  transition: opacity 0.5s ease;
  width:74px;
}