.wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "head head"
            "nav nav"
            "main main"
            "footer footer";
    grid-template-columns: 330px 1fr;
    grid-gap: 0px;
    width: 63em;
    background-image: url("/contentbg.jpg");
    background-repeat: repeat-y;
    background-position: 12px 0;
  }
  
  .item {
    margin: 0;
  }

  .header {
    grid-area: head;
  }

  .itemLogo {
    margin: 0;
  }
  
  .logo {
    grid-area: logo;
    margin: 20px 0 0 37px;
  }
  
  .wrapperLogo {
    display: grid;
    grid-template-areas:
            "logo texthead";
    grid-template-columns: 224px 1fr;
    grid-template-rows: 6.9375em;
  }
  
  .texthead {
    margin: 0;
  }
  
  .texthead div {
    margin: 20px 35px 0 50px;
    padding: 0 0 0 0;
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    color: #f1f1c5;
    background: url("/texture.png") repeat #280000;
  }
  
  .texthead h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 16px 0 0 12px;
  }
  
  .texthead h3 {
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 0px 0 4px 12px;
  }
  
  .texthead p {
    font-size: 0.7em;
    margin: 0;
    padding: 3px 12px;  
    color: #cb4c00; 
    border-top: 1px solid wheat;
  }

  .nav {
    grid-area: nav;
    width: 58.4375em;
    margin: 34px 0 0 37px;
  }
  
  ul.menunav {
    padding: 3px 0 0 0;
    background-image: url(/greenbg.png);
  }
  
  ul.menunav li {
    display: inline;
    list-style-type: none;
    padding: 8px 14px 4px 14px;
    background-image: url(/greenbg.png);
    border-right-color: wheat;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  .menunav li a {
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2bf;
  }
  
  .asideleft {
    grid-area: aleft;
  }

  .asideleft div {
    margin: 15px 0 0 37px;
  }
  .asideleft div > p {
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1.5em;
  }

  .maincontext {
    grid-area: main;
  }


  .maincontext .newListWork {
    display: grid;
    margin: 15px 37px 0 35px;
    padding: 0;
    grid-template-columns: 303px 303px 303px;
    gap: 13px;
  }

  .maincontext .newListWork div {
    background: black;
  }

  .maincontext .viewportcontainerWork{
    margin: 0;
    padding: 0;
    overflow:hidden;
    position:relative;
    height: 228px;
    width:303px;
  }

  .maincontext .worksListDesc {
    display: grid;
    margin: 0 0 0 35px;
    padding: 0;
    grid-template-columns: 303px 303px 303px;
    gap: 13px;
  }

  .maincontext .worksListDesc div {
    margin: 0; padding: 0;
  }
  
  .maincontext .worksListDesc .one,
  .maincontext .worksListDesc .two {
    width: 303px;
    background: black;
  }
  .maincontext .worksListDesc .one h2,
  .maincontext .worksListDesc .two h2 {
  margin: 0; padding: 5px 10px 5px 10px;
  font-size: 1.3em;
  font-weight: bold;
  }

.maincontext .worksListDesc .one p,
.maincontext .worksListDesc .two p {
  margin: 0; padding: 0 10px 10px 10px;
  font-size: 0.8em;
  color: #F2F2BF;
}

.maincontext .worksListDesc .one h2 > a,
.maincontext .worksListDesc .two h2 > a {
  margin: 0; padding: 0;
  text-decoration: none;
  color: #F2F2BF;
}

.maincontext .worksListArrowLink{
  display: grid;
  margin: 0 0 0 35px; 
  padding: 0;
  grid-template-columns: 303px 303px 303px;
  gap: 13px;
}

.maincontext .worksListArrowLink div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all {
  border-top: 1px solid #F6F6C2;
  width: 303px;
  background: black;
}
.maincontext .worksListArrowLink .block_all .info_block {
  display: grid;
  grid-template-columns: 43px 1fr;
}

.maincontext .worksListArrowLink .block_all .info_block div{
  margin: 0; padding: 0;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_arrow{
  padding: 0 0 0 5px;
}

.maincontext .worksListArrowLink .block_all .info_block .info_block_link {
  border-left: 1px solid #F6F6C2;
  padding: 3px 0 0 8px;
  font: 18px/28px 'BebasNeueRegular',Arial, sans-serif;
}

.info_block .info_block_link a {
  text-decoration: none;
  color: #F6F6C2;
}

.info_block .info_block_link a:hover {
  color: #ee3124;
}

  .maincontext .worksList {
    display: grid;
    margin: 15px 37px 0 35px;
    padding: 0;
    grid-template-columns: 303px 303px 303px;
    gap: 11px;
  }

  .itemWorks {
    margin: 0;
  }

  .maincontext .worksList figure img{
    display: block;
  }

  .maincontext .worksList figcaption {
    background: black;
    padding: 10px 15px 2em 10px;
    height: 70px;
  }
  
  .maincontext .worksList figcaption h2{
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
  }

  .maincontext .worksList figcaption h2 a {
    color: #F2F2BF;
    letter-spacing: -1px;
    text-decoration: none;
  }
  .maincontext .worksList figcaption p {
    font-size: 0.8em;
    color: #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink {
    background: black;
    display: grid;
    grid-template-columns: 33px 1fr;
  }


  .blokImgWorkLink .itemBox {
    margin: 0;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg {
    padding: 0;
    border-top: 1px solid #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg img{
    display: block;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText {
    padding: 5px 0 0 10px;
    font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
    border-top: 1px solid #F2F2BF;
    border-left: 1px solid #F2F2BF;
    color: #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a {
    color: #F2F2BF;
    text-decoration: none;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a:hover {
    color: #ee3124;
  }
  


  .hr {
    border-bottom: 1px solid #303028;
    padding-bottom: 0.8em;
  }
  
  .componentfooter {
    margin: 2em 0 0 -5px;
    padding: 0;
    width: 1015px;
  }
  
  .endpage {
    height: 3.0em;
  }

  @import '/styles/res/works/415.scss';