.wrapper{
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "head head"
            "nav nav"
            "main main"
            "footer footer";
    grid-template-columns: 330px 1fr;
    grid-gap: 0px;
    width: 63em;
    background-image: url("/contentbg.jpg");
    background-repeat: repeat-y;
    background-position: 12px 0;
  }
  
  .item {
    margin: 0;
  }

  .header {
    grid-area: head;
  }

  .itemLogo {
    margin: 0;
  }
  
  .logo {
    grid-area: logo;
    margin: 20px 0 0 37px;
  }
  
  .wrapperLogo {
    display: grid;
    grid-template-areas:
            "logo texthead";
    grid-template-columns: 224px 1fr;
    grid-template-rows: 6.9375em;
  }
  
  .texthead {
    margin: 0;
  }
  
  .texthead div {
    margin: 20px 35px 0 50px;
    padding: 0 0 0 0;
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    color: #f1f1c5;
    background: url("/texture.png") repeat #280000;
  }
  
  .texthead h2 {
    font-size: 1.5em;
    letter-spacing: 1px;
    padding: 16px 0 0 12px;
  }
  
  .texthead h3 {
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 0px 0 4px 12px;
  }
  
  .texthead p {
    font-size: 0.7em;
    margin: 0;
    padding: 3px 12px;  
    color: #cb4c00; 
    border-top: 1px solid wheat;
  }

  .nav {
    grid-area: nav;
    background-image: url(/greenbg.png);
    width: 58.4375em;
    margin: 34px 0 0 37px;
  }
  
  ul.menunav {
    padding: 5px 0 2px 0;
  }
  
  ul.menunav li {
    display: inline;
    list-style-type: none;
    padding: 4px 14px 3px 14px;
    background-image: url(/greenbg.png);
    border-right-color: wheat;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  .menunav li a {
    font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2bf;
  }
  
  .asideleft {
    grid-area: aleft;
  }

  .asideleft div {
    margin: 15px 0 0 37px;
  }
  .asideleft div > p {
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1.5em;
  }

  .maincontext {
    grid-area: main;
  }

  .maincontext .worksList {
    display: grid;
    margin: 15px 37px 0 35px;
    padding: 0;
    grid-template-columns: 303px 303px 303px;
    gap: 11px;
  }

  .itemWorks {
    margin: 0;
  }

  .maincontext .worksList figure img{
    display: block;
  }

  .maincontext .worksList figcaption {
    background: black;
    padding: 10px 15px 2em 10px;
    height: 70px;
  }
  
  .maincontext .worksList figcaption h2{
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
  }

  .maincontext .worksList figcaption h2 a {
    color: #F2F2BF;
    letter-spacing: -1px;
    text-decoration: none;
  }
  .maincontext .worksList figcaption p {
    font-size: 0.8em;
    color: #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink {
    background: black;
    display: grid;
    grid-template-columns: 33px 1fr;
  }


  .blokImgWorkLink .itemBox {
    border: 1px solid #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg {
    padding: 0;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkImg img{
    display: block;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText {
    padding: 5px 0 0 10px;
    font: 18px/28px 'BebasNeueRegular',Arial,sans-serif;
    color: #F2F2BF;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a {
    color: #F2F2BF;
    text-decoration: none;
  }

  .maincontext .worksList figure .blokImgWorkLink .blokImgWorkLInkText a:hover {
    color: #ee3124;
  }
  


  .hr {
    border-bottom: 1px solid #303028;
    padding-bottom: 0.8em;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .footer div {
    margin: 5em 40px 40px 40px;
    background: url('/texture.png') repeat #280000;
  }
  
  .footer div p {
    display: inline-block;
    width: 895px;
    margin: 24px 18px;  
    padding: 12px 0px;
    text-align: center;
    border-top: 1px solid #f1f1c5;
    border-bottom: 1px solid #f1f1c5;
    font-weight: bold;
    font: 1.446em/1em 'BebasNeueRegular', Arial, sans-serif;
    color: #cb4c00;
    text-transform: uppercase;  
  }
  
  .footerline {
    width: 935px;
    margin: 0 40px 20px 40px;
    line-height: 1.2em;
    height: 21px;
    background: url('/footerline.png') no-repeat;
    color: #a4b394;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
  }
  
  .endpage {
    height: 3.0em;
  }