  ul.menunav {
    padding: 0px 0 30px 0;
    background-image: url(/greenbg.png);
  }
  
  ul.menunav li {
    //display: inline;
    float: left;
    //font: 24px/28px 'BebasNeueRegular',Arial,sans-serif;
    font: 1.5em 'BebasNeueRegular',Arial,sans-serif;
    list-style-type: none;
    padding: 1px 14px 2px 14px;
    background-image: url(/greenbg.png);
    border-right-color: wheat;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  .menunav li a {
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2bf;
  }

  .menunav .active {
    background-image: url(/activenavbg.png);
  }

  .menuContainer {
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-auto-rows: 30px;
    background-image: url(/greenbg.png);
    //align-items: center;
  }

  .itemMenu {
    color: #f2f2bf;
    text-align: center;
    padding: 5px 0 0 0;
    border-right: 1px solid white;
    font: 1.5em 'BebasNeueRegular',Arial,sans-serif;
    background-image: url(/greenbg.png);
  }

  .itemMenu a {
    text-decoration: none;
    color: #f2f2bf;
  }

  .itemMenu:hover {
    background-image: url(/activenavbg.png);
  }

  .activenew {
    background-image: url(/activenavbg.png);
  }