  ul.menunav {
    padding: 5px 0 0 0;
    background-image: url(/greenbg.png);
  }
  
  ul.menunav li {
    display: inline;
    font-size: 1.5em;
    font-family: 'BebasNeueRegular',Arial,sans-serif;
    background: green;
    list-style-type: none;
    padding: 5px 14px 0 14px;
    background-image: url(/greenbg.png);
    border-right-color: wheat;
    border-right-style: solid;
    border-right-width: 1px;
  }
  
  .menunav li a {
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #f2f2bf;
  }

  .menunav .active {
    background-image: url(/activenavbg.png);
  }